/*main*/

    body {
        background: rgb(105,129,45);
        background: linear-gradient(0deg, rgba(105,129,45,1) 0%, rgba(47,104,129,1) 10%, rgba(45,105,129,1) 76%, rgba(129,45,105,1) 100%); 
        background-attachment: fixed;
        display: flex;
        justify-content: center;
    }

    main { 
        position: relative;
        max-width: 1000px;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: wrap;
    }

/*Landing Links*/  

    .landing-links-section {
        max-width: 1000px;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 200px;
    }

    .landing-link {
        position: relative;
        max-width: 1000px;
        width: 100%;
        height: 400px;
        cursor: pointer;
    }
    .landing-link:hover .link-overlay {
        opacity: 1;
    }
    .landing-link:hover .landing-link-text {
        opacity: 0;
    }

    .link-overlay {
        position: absolute;
        top: 14px;
        bottom: 0;
        left: 0;
        right: 0;
        display: inline-block;
        width: 1000px;
        height: 400px;
        background-color: rgba(255, 255, 255, 0.658);
        z-index: 2;
        opacity: 0;
        transition: .5s ease;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .landing-link-text {
        position: absolute;
        color: #1d1d1d;
        background-color: rgba(255, 255, 255, 0.801);
        font-family: 'Arimo', sans-serif;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-size: 50px;
        transition: .5s ease;
    }

    .overlay-link-text {
        color: #1d1d1d;
        font-family: 'Arimo', sans-serif;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-size: 50px;
        transition: .5s ease;
    }

    .link-text-container {
        position: absolute;
        top: -36px;
        z-index: 3;
        max-width: 400px;  
    }

    .landing-link-image {
        position: relative;
        z-index: 1;
        width: 1000px;
        height: 400px;
        object-fit: cover;
        box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.25);
    }

    .product-text {
        width: 340px;
    }

    .about-text {
        width: 185px;
    }

    .contact-text {
        width: 300px;
    }

    .landing-img-container {    
        max-width: 1000px;
        width: 100%;
        min-height: 100px; 
        margin-bottom: 50px;
    }


/*Header*/

    header {
        position: absolute;
        top: 40px;
        max-width: 1000px;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: wrap;
    }

    .header-content-container {
        max-width: 1000px;
        width: 100%;
        height: 120px;
        margin-bottom: 50px;
        background-color: rgba(255, 255, 255, 0.863);        
        box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.25);
        padding-left: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    .maria-logo-image { 
        max-width: 100px;
        max-height: 100px;
    }
    .maria-logo-text {
        max-width: 400px;
        height: 90px;
        margin-left: 90px
    }

    .account-button-container {
        margin-right: 30px;
    }

    .button {
        background-color: #2d6981;
        color: white;
        box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.25);
        height: 50px;
        width: 120px;
        font-size: 16px;
        text-align: center;
        border: none;
        border-radius: 8px;
        opacity: 0.6;
        cursor: pointer;
        font-family: 'Crimson Text', serif;
        transition: .5s ease;
    }
    .button:hover {
        background-color: #1e4555;
    }

    .sign-up {
        margin-left: 20px;
    }

/*Footer*/

    footer {
        position: absolute;
        top: 1600px;
        max-width: 1000px;
        width: 100%;

    }

    .footer-content-container {
        max-width: 1000px;
        width: 100%;
        height: 300px;
        margin-bottom: 50px;
        background-color: rgba(255, 255, 255, 0.863);        
        box-shadow: 10px 10px 10px 5px rgba(0, 0, 0, 0.25);
        padding-left: 10px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .maria-logo-text-and-image {
        max-width: 500px;
        height: 250px;
    }

    .footer-link-container {
        display: flex;
        flex-wrap: wrap;
    }

    .list-box {
        margin: 20px;
    }

    .footer-link {
        color: #1d1d1d;
        text-decoration: none;
        cursor: pointer;
    }
    .footer-link-item:hover {
        text-decoration: underline;
    }

    .footer-link-list {
        list-style-type: none;
        padding-left: 0px;
        line-height: 130%;
    }

    .list-name {
        font-size: 17px;
    }

    .footer-link-item {
        font-size: 13px;
    }    

    .socialmedia-icon-container {
        display: flex;
        flex-direction: column;
    }

    .fab {
        margin: 5px;
        font-size: 50px;
        color: #2d6981;
        cursor: pointer;
        transition: .2s ease;
    }

    .fab:hover {
        color: #1e4555;
    }